body{
    background-color: bisque;
}
#header{
    text-align: center;
    font-weight: bolder;
    font-size: larger;
   
}
#fetchButton{
    display: block;
    margin: 0 auto;
    background-color:lightsalmon;

}
#button{
    background-color:lightsalmon;
}